# Problem: 
<p>A car company has released a new SUV in the market. Using the previous data about the sales of their SUV's, they want to predict the category of people who might be interested in buying this. What factors made people more interested in buying SUV?</p>

In [1]:
import numpy as np
import matplotlib as plt
import pandas as pd
%matplotlib inline

In [2]:
dataset = pd.read_csv("SUVpredicts.csv")

In [3]:
dataset.head(10)

    User_ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [5]:
X = dataset.iloc[:,[2,3]].values
Y = dataset.iloc[:,4].values

In [6]:
X

array([[    19,  19000],
       [    35,  20000],
       [    26,  43000],
       [    27,  57000],
       [    19,  76000],
       [    27,  58000],
       [    27,  84000],
       [    32, 150000],
       [    25,  33000],
       [    35,  65000]], dtype=int64)

In [7]:
Y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test, y_train,y_test = train_test_split(X,Y, test_size=0.25, random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [13]:
from sklearn.linear_model import LogisticRegression

In [16]:
classifier=LogisticRegression(random_state=0)
classifier.fit(x_train, y_train)

C:\Users\ImdaduL Haque\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
y_predicts = classifier.predict(x_test)

In [23]:
from sklearn.metrics import accuracy_score

In [25]:
accuracy_score(y_test, y_predicts)*100

100.0

# End of the SUV predicts project